[class*=col-]{
    border: 1px solid black;
    background-color: rgba(255, 192, 203, 1);
    height: 200px;
    text-align: center;
    line-height: 200px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* riga 5 style */
#left, #right{
    width: 50%;
    float: left;
}

#left span, #right span{
    display: inline-block;
    width:calc(100% - 20px) ;
    height: calc(100% - 20px);
    margin: 10px;
    background-color: rgba(240, 127, 128, 1);
}
