[class*=col-]{
    border: 1px solid black;
    background-color: rgba(255, 192, 203, 1);
    height: 200px;
    text-align: center;
    line-height: 200px;
}
/* riga 5 style */
.row.five>.col-6{
    padding: 10px;
}

.row.five .col-6>[class*=col-]{

    border: 1px solid white;
    height: 180px;
    background-color: rgba(240, 127, 128, 1);
    line-height: 180px;
}